.aboutContainer {
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutContent {
  height: 35rem;
  width: 80rem;
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

.aboutContent .left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.left div {
  box-shadow: 3px 3px 1px #ccc;
  -webkit-box-shadow: 3px 3px 1px #ccc;
  -moz-box-shadow: 3px 3px 1px #ccc;
  background-image: url("https://i.kym-cdn.com/photos/images/original/001/516/899/f31.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
}

.left img {
  width: 100%;
  height: 100%;
}

.aboutContent .right {
  width: 50%;
  display: flex;
  margin: 0 1rem;
  align-items: center;
  position: relative;
}

.right div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right section {
  padding: 1rem 4rem;
}

.cvButton {
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  letter-spacing: 0.2rem;
  border: 1px solid black;
  min-height: 4rem;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.cvButton:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 1100px) {
  .aboutContent .right h1 {
    font-size: 1rem;
  }

  .aboutContent .right h2 {
    font-size: 1rem;
  }

  .aboutContent .right p {
    font-size: 0.9rem;
  }
}

@media (max-width: 850px) {
  .aboutContainer {
    height: 100%;
    padding-bottom: 2rem;
  }

  .aboutContent {
    height: 100%;
    width: 80rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
  }

  .aboutContent .left {
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    width: 85%;
  }

  .aboutContent .right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cvButton {
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    letter-spacing: 0.2rem;
    border: 1px solid black;
    min-height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: unset;
  }
}
