* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* *::-webkit-scrollbar {
  display: none;
} */

body {
  background-attachment: fixed;
  background-color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

.headerMobile {
  display: none;
}

@media (max-width: 660px) {
  .headerDesktop {
    display: none;
  }
}
