.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 100vw;

  background-image: url("./assets/img/code.png");
  background-size: cover;
  color: white;
}

.contactContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 6rem;
}

.contactForm {
  font-size: 2rem;
}
.contactFunction {
  color: white;
}

.contactFunction p:first-child {
  color: #ce91c8;
}

.contactFunction span:first-child {
  color: #559bd1;
}

.contactFunction span:nth-child(2) {
  color: #37b6b4;
}
.contactFunction span:nth-child(3) {
  color: #ce91c8;
}

.contactFunction span:nth-child(4) {
  color: #37b6b4;
}

.contactFunction span:nth-child(5) {
  color: #ff8a47;
}

.contactFunction span:nth-child(6) {
  color: #ff8a47;
}

.contactFunction span:nth-child(7) {
  color: #37b6b4;
}

.contactFunction span:nth-child(8) {
  color: #37b6b4;
}

.contactFunction span:nth-child(9) {
  color: #ff8a47;
}
.contactFunction span:nth-child(10) {
  color: #ff8a47;
}

.contactFunction span:nth-child(11) {
  color: #37b6b4;
}

.contactFunction span:nth-child(12) {
  color: #37b6b4;
}
.contactFunction span:nth-child(13) {
  color: #ff8a47;
}
.contactFunction span:nth-child(14) {
  color: #37b6b4;
}

.contactElse span:nth-child(1) {
  color: #37b6b4;
}

.contactElse span:nth-child(2) {
  color: #ce91c8;
}

.elseForm span:nth-child(1) {
  color: #37b6b4;
}

.elseForm span:nth-child(2) {
  color: #ff8a47;
}

.elseForm span:nth-child(3) {
  color: #37b6b4;
}

.elseForm span:nth-child(4) {
  color: #ff8a47;
}

.elseForm span:nth-child(5) {
  color: #37b6b4;
}

.elseForm span:nth-child(6) {
  color: #37b6b4;
}
.elseForm span:nth-child(7) {
  color: #37b6b4;
}
.elseForm span:nth-child(8) {
  color: #37b6b4;
}

.elseForm a {
  color: #8cc98f;
}

@media (max-width: 910px) {
  .contactForm {
    font-size: 1.6rem;
  }
}

@media (max-width: 660px) {
  .contactContainer {
    height: 100%;
  }

  .contactForm {
    margin: 3rem;
    font-size: 1.2rem;
  }

  .contactContent {
    margin-top: 0;
  }
}

@media (max-width: 470px) {
  .contactForm {
    font-size: 1rem;
  }
}

@media (max-width: 410px) {
  .contactForm {
    margin: 2rem;
    font-size: 0.8rem;
  }
}
