.headerContainer {
  position: fixed;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  height: 6rem;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1200px;
  min-width: 75%;
}

.headerContent button {
  margin: 0 1rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-size: 20px;
  color: #efefef;
}

.headerContent button:hover {
  transform: scale(1.1);
}
