.portfolioContainer {
  height: 100%;
  min-height: 100vh;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.portfolioContent {
  border: 2px solid black;
  height: 39rem;
  max-width: 65rem;
  min-width: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
}

.content-box {
  border: 1px solid black;
  padding: 1rem;
}

.portfolio-labels {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  background: white;
  padding: 3rem 12rem;
}

.portfolio-labels a:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.portfolio-labels a {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #333;
}

.portfolio__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.portfolio__container-mobile {
  display: none;
}
.project {
  padding: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.3rem;
  flex-direction: column;
}

.project-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.linkIcons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2.5rem;
}

.linkIcons a:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.project-image {
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project span {
  font-size: 1.5rem;
}

.portfolio__container img {
  height: 100%;
}

.portfolio-labels-mobile {
  display: none;
}

.portfolio-labels-mobile a:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 1065px) {
  .portfolio__container img {
    height: 110%;
  }
  .portfolio-labels {
    padding: 3rem 5rem;
  }

  .description {
    margin-top: 0.2rem;
  }

  .portfolio__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
  }

  .portfolio-labels {
    display: none;
  }

  .portfolio-labels-mobile a {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #333;
  }

  .portfolio-labels-mobile {
    display: flex;
    justify-content: space-between;

    width: 100%;
    background: white;
    padding: 1rem;
  }

  .portfolioContent {
    height: 80%;
    width: 80%;
  }
}

@media (max-width: 700px) {
  .portfolio__container {
    display: none;
  }

  .portfolioContainer {
    height: 100%;
  }

  .portfolio-labels-mobile {
    display: none;
  }

  .portfolioContent {
    border: none;
    height: 100%;
    max-width: unset;
    min-width: unset;
    display: flex;
    align-items: unset;
    flex-direction: unset;
    margin: 0;
  }

  .portfolio__container-mobile {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
  .portfolio__container-mobile img {
    height: 100%;
  }
}

@media (max-width: 640px) {
  .project-image {
    height: 12rem;
  }
}

@media (max-width: 520px) {
  .project-image {
    height: 8rem;
  }
}

@media (max-width: 380px) {
  .project-image {
    height: 7rem;
  }

  .content-box {
    padding: 0.5rem;
  }
}
